title {
  font-family: "Londrina Solid", cursive;
  line-height: 22;
}

body {
  background-image: url(Bilder/Background-Space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Londrina Solid", cursive;
  color: white;
}

.Hobbies {
  font-family: "Londrina Solid", cursive;
  color: white;
}
